.card {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 16px 24px;
  border-radius: 5px;
  border: 1px solid var(--color-border);
}

.cardEl {
  display: flex;
  width: 33%;
}

.cardElButton,
.cardOwner {
  align-items: center;
  justify-content: flex-end;
}

.cardTitle {
  font-size: 14px;
  font-weight: 700;
}

.cardTitleOwnder {
  margin-left: 8px;
  font-size: 12px;
  font-weight: 600;
  color: var(--color-accent);
}

.cardTime {
  justify-content: center;
}

.cardOwnerName {
  margin-right: 12px;
}
