.modal {
  position: absolute;
  z-index: 1000;
  top: 50%;
  left: 50%;
  border-radius: 5px;
  background-color: var(--color-base);
  transform: translate(-50%, -50%);
}

.modelInner {
  padding: 16px;
}

.background {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: var(--color-modal-background);
  opacity: 0.5;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.title {
  font-size: 20px;
  font-weight: 800;
}

.content {
  margin-top: 16px;
}

.closeButton {
  width: 28px;
  height: 28px;
  border: none;
  margin-left: 32px;
  background-color: inherit;
  cursor: pointer;
}

.closeImage {
  width: 28px;
  height: 28px;
  fill: var(--color-font-base);
}

.closeButton:hover .closeImage {
  opacity: 0.5;
}
