.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8px 16px;
}

.headerTitle {
  font-size: 24px;
  font-weight: 800;
}

.spLink {
  text-decoration: none;
  color: var(--color-accent);
  transition: color 0.2s;
}

.spLink:hover {
  color: var(--color-font-base);
}
